/* Comprehensive CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif; /* Ensure Roboto is applied here */
  background: linear-gradient(to right, #121212, #323232);
  color: #ffffff;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dark-mode {
  background-color: #ffffff;
  color: #000000;
}

h1 {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 700;
  color: #2E8B57;
}

h2, h3 {
  font-weight: 500;
  color: #2E8B57;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: linear-gradient(to bottom right, #1E1E1E, #282828);
  border: 1px solid #2E8B57;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.focus-timer,
.task-list,
.distraction-blocker {
  margin-bottom: 20px;
  background-color: #2A2A2A;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dark-mode .focus-timer,
.dark-mode .task-list,
.dark-mode .distraction-blocker {
  background-color: #f0f0f0;
}

button {
  padding: 10px 20px;
  background-color: #2E8B57;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #1E7A46;
  transform: translateY(-2px);
}

button.delete-btn {
  background-color: #FF6347;
  margin-left: 10px;
}

input[type='text'],
input[type='number'] {
  padding: 10px;
  width: calc(100% - 20px);
  margin-bottom: 10px;
  background-color: #2A2A2A;
  color: #fff;
  border: 1px solid #444;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

input[type='text']:focus,
input[type='number']:focus {
  border-color: #2E8B57;
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

li .task {
  flex: 1;
}

.top-right-buttons {
  position: fixed;
  top: 10px;
  right: 10px;
}

.top-right-buttons button {
  padding: 5px 10px;
  margin-left: 5px;
  background-color: #2E8B57;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.top-right-buttons button:hover {
  background-color: #1E7A46;
  transform: translateY(-2px);
}
